<br>

<div class="row">
	<div class="col">
		<div class="col-md">
			<div class="card text-center text-white  mb-3" id="total-scheduled">
			  	<div class="card-header">
			  		<h5 class="card-title">Total Interviews scheduled</h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title">{{totalcount}}</h3>
			  	</div>
			</div>
		</div>
	</div>

	<div class="col">
		<div class="col-md">
			<div class="card text-center text-white  mb-3" id="selected">
			  	<div class="card-header">
			  		<h5 class="card-title">Selected</h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title">{{selected}}</h3>
			  	</div>
			</div>
		</div>
	</div>

</div>